
<!--<div style="text-align:center">-->
<!--  <h1>-->
<!--    Welcome to {{ title }}!-->
<!--  </h1>-->

<!--&lt;!&ndash;  <h2>&ndash;&gt;-->
<!--&lt;!&ndash;    {{message}}&ndash;&gt;-->
<!--&lt;!&ndash;  </h2>&ndash;&gt;-->

<!--  <img width="300" alt="Brennan Monster" src="assets/images/BrennanFacePaint%20(3).jpg">-->
<!--</div>-->

<!--<div class="content" role="main">-->
<!--  <span>{{ title }} app is running!</span>-->
<!--</div>-->

<!--<app-welcome></app-welcome>-->

<!--<div>-->
<!--  Component Content-->
<!--</div>-->

<!--<app-bio></app-bio>-->

<!--<app-login></app-login>-->

TODO Application
<BR><BR>


<router-outlet></router-outlet>

<BR><BR>

<footer>Footer</footer>
