<mat-card>
  <mat-card-header >LOGIN</mat-card-header>
  <small *ngIf="invalidLogin">{{errorMessage}}</small>
  <mat-card-content>
    Username: <label>
    <input type="text" name="username"  [(ngModel)]="username">
  </label>
    Password: <label>
    <input type="password" name="password" [(ngModel)]="password">
  </label>
    <button (click)="handleLogin()" >Login</button>
    <p></p>
    <button (click)="handleCreate()">Create New User</button>


  </mat-card-content>

</mat-card>

<p></p>
<p></p>

<h2>
  {{message}}
</h2>
