<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div> <a href="https://darinjbrown.com" class="navbar-brand">Darin    </a></div>
      <ul class="navbar-nav">
        <li><a routerLink="/welcome/'Darin'" class="nav-link">Home</a> </li>
        <li><a routerLink="/todos" class="nav-link">TODO List</a> </li>
        <li><a routerLink="/contact" class="nav-link">Contact</a> </li>
      </ul>

      <ul class="navbar navbar-collapse justify-content-end">
        <li><a routerLink="/login" class="nav-link">Login</a> </li>
        <li><a routerLink="/logout" class="nav-link">Logout</a> </li>
      </ul>

  </nav>
</header>
